:root{
    --vermelho:#e50914;
    --preta:#141414;
}
/*Layout base geral*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: var(--preta);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
nav > a{
    color: #aaa;
    text-decoration: none;
    margin-right: 30px;
}
nav > a:hover{
    color: #fff;
}
/*Layout topo*/
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px; 
}
/*Layout Banner Principal*/
.banner-principal{
    font-size: 14px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)), url('/img/chicago.jpg');
    background-size: cover;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.container{
    margin-left: 4%;
}
.banner-principal .container{
    width: 60%;
}
.descricao{
    margin-bottom: 50px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: justify;
}
.titulo-filme{
    margin-top: 15%;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
.botao{
    background-color: rgba(80, 0, 0, 0.5);
    border: none;
    color: white;

    padding: 15px 30px;
    border-radius: 10px;
    margin-right: 12px;
    font-size: 12px;
    transition: .3s ease all;
    font-weight: bold;

    cursor: pointer;
}
.botao:hover{
    background-color: white;
    color: rgb(80, 0, 0);
    font-weight: bold;
}
.botao i{
    margin-right: 10px;
}
/*Carrocel*/
.carrocel-destaque-filmes{
    margin: 5px;
}
.box-destaque{
    width: 100%;
    height: 100%;
    display: block;
}
.titulos-carrocel{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px;
}